[workspace]

members = ["base", "volks-fw"]

[profile.release]
codegen-units = 1 # Better optimizations
debug = false     # Symbols don't increase size if enabled
lto = true        # Link time optimizations
opt-level = "z"   # Optimize for size
